<!DOCTYPE html>
<html lang="en" ng-app="MovieApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>

    <script src="app.js"></script>

    <meta charset="UTF-8">
    <title>Movie Database</title>
</head>
<body>
    <div class="container">
        <h1>Movie DB</h1>

        <table class="table" ng-controller="MovieController">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td><input class="form-control" ng-model="movie.id"/></td>
                    <td><input class="form-control" ng-model="movie.title"/></td>
                    <td><input class="form-control" ng-model="movie.year"/></td>
                    <td><button class="btn btn-primary" ng-click="addMovie(movie)">Add</button> </td>
                    <td><button class="btn btn-primary" ng-click="updateMovie(movie)">Update</button> </td>
                </tr>
            </thead>
            <tbody>
            <tr>{{movies}}</tr>
                <tr ng-repeat="td_movie in movies">
                    <td>{{td_movie.id}}</td>
                    <td>{{td_movie.title}}</td>
                    <td>{{td_movie.year}}</td>
                    <td><button class="btn btn-warning" ng-click="delMovie($index)">Delete</button></td>
                    <td><button class="btn btn-info" ng-click="selectMovie(td_movie, $index)">Select</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>